<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list *ngFor="let user of users">
    <ion-card (click)="navigatePage(user)">
      <ion-card-content class="data-user">
        <ion-avatar slot="start">
          <img [src]=user.image>
        </ion-avatar>
        <ion-label id="name">{{user.first_name}}</ion-label>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
